---
layout: infobar
id: garb
title: Garb Guide for Beginners
permalink: /garb-guide/
---

    <article id="main">
        <header class="special container">
            <h2>Garb Guide</h2>
            <p>Basic information for beginners</p>
        </header>

        <section class="wrapper style4 container">
            <a href="#" class="image featured"><img src="/images/garb.jpg" alt="Garb Guide" /></a>
            <div class="content">
                <p>We do not enforce any gender roles. If you are a woman and wish to dress as a man, that is fine, and visa versa. Most people who join our club are rather new to re-enactment, and the club works hard to help them attain a look as close to the 14th Century as possible. We are able to provide help and contacts to help you become as authentic as possible.</p>

                <p>Any member dressing as a male is expected to attain garb and kit to approximate a 14th century English archer during the 100 years war. Under garments should be made from linen, and outerwear made from wool. You are expected to attain a bow that mirrors that of an english longbow. We have included a photo on this page to provide an idea of the quality that we are after. If there is something else you wish to portray, <a href="/contact/">discuss it with the board</a>.</p>

                <p>Any member dressing as a female is expected to attain garb and kit to approximate a woman in the 14th century, during the 100 years war. We encourage any members dressed as women to participate in any shooting activities that we do, and are not too fussy about the type of bow used. If there is anything you particularly want to portray, <a href="/contact/">discuss it with our board</a> as they will be able to provide help. We have included a photo on this page to demonstrate the type of clothing and quality we are after.</p>

                <p>You may find that you do not just stop at getting your garb and equipment right. Many members have bought medieval tents, furniture, coins and games. There are lots of little things that go towards making your experience as fun as possible, and members often find themselves drawn towards research of certain things within a period.</p>
            </div>

            <section class="special">
                <ul class="buttons">
                    <li><a href="/join/" class="button small">Join Us</a></li>
                </ul>
            </section>
        </section>
