---
layout: infobar
id: join
title: Joining MAS
permalink: /join/
---
{% assign alhf = site.data.links.other.links.alhf %}
{% assign museum = site.data.links.other.links.museum %}

    <article id="main">
        <header class="special container">
            <h2>Join Us</h2>
            <p>How to join the Medieval Archery Society</p>
        </header>

        <section class="wrapper style4 container">
            <div class="content">
                <section>
                    <a href="#" class="image featured"><img src="/images/join.jpg" alt="" /></a>
                    <header>
                        <h3>Training Day</h3>
                    </header>
                    <p>MAS shoots at the <a href="{{ museum.url }}" title="{{ museum.name }}">Campbelltown Steam and Machinery Museum</a> on the 2nd and 4th Sunday of the month. Public are welcome by invitation only.</p>

                    <p>If you are interested in coming along and seeing if re-enactment with our group is for you, please <a href="/contact/">contact us via email</a> to receive an invitation. We charge $10 for the public to attend, and $10 if you need to hire equipment (Bow and/or Arrows).</p>

                    <p>Please note we only have a finite amount of bows and arrows so bookings are essential.</p>
                </section>
                <section>
                    <header>
                        <h3>Membership</h3>
                    </header>
                    <section>
                        <header>
                            <h4>Membership Cost</h4>
                        </header>
                        <p>1st year $55, 2nd year $40, 3rd year onwards $30. This price include $22 membership with the <a href="{{ alhf.url }}" title="{{ alhf.name }}">Australasian Living History Federation (ALHF)</a>, the insurance body that we use. There are other insurance providers that we will accept instead of membership with ALHF, discuss it with a board member before signing up. Membership covers you from financial year to financial year. If most of the year is over we do reduce the rate of membership, please talk to a board member to discuss this.</p>
                    </section>
                    <section>
                        <header>
                            <h4>Shooting Cost</h4>
                        </header>
                        <p>MAS members are charged a flat $5 a month to shoot at the <a href="{{ museum.url }}" title="{{ museum.name }}">Campbelltown Steam and Machinery Museum</a>. Your first day in the month is $5, any other shooting on site is free. Members are expected to buy there own bow and arrows as soon as they are able, the MAS board are often able to give help and guidance with this. (You may find the buying of bows becomes addictive, many of our members own more than one bow).</p>
                    </section>
                </section>

                <section class="wrapper special small">
                    <ul class="buttons">
                        <li><a href="/contact/" class="button small special">Contact Us</a></li>
                    </ul>
                </section>

                <section class="style4 special container small">
                    <div class="content">
                        <div class="row">
                            <div class="6u">
                                <section>
                                    <a href="/festival-guide/" class="image featured"><img src="/images/festival.jpg" alt="Festival Guide" /></a>
                                    <header>
                                        <h3>Festivals</h3>
                                    </header>
                                    <p>MAS attends medieval festivals and some charity events. Half the fun of this hobby is sharing it with the general public. We expect our members to try to attend these festivals, as the club gets paid for our participation, this allows our club to replenish arrows, and buy things to increase your enjoyment of our hobby.</p>
                                    <ul class="buttons">
                                        <li><a href="/festival-guide/" class="button small">Learn More</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="6u">
                                <section>
                                    <a href="/garb-guide/" class="image featured"><img src="/images/garb.jpg" alt="Garb Guide" /></a>
                                    <header>
                                        <h3>Garb Requirements</h3>
                                    </header>
                                    <p>We do not enforce any gender roles. If you are a woman and wish to dress as a man, that is fine, and visa versa. Most people who join our club are rather new to re-enactment, and the club works hard to help them attain a look as close to the 14th Century as possible. We are able to provide help and contacts to help you become as authentic as possible.</p>
                                    <ul class="buttons">
                                        <li><a href="/garb-guide/" class="button small">Learn More</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
