<!-- Banner -->

<section id="banner">
    <div class="inner">
        <header>
            <h2><img src="/images/raven.png" alt="MAS Raven Logo" /> MAS</h2>
        </header>
        <p>We are the
        <br />
        <strong>Medieval Archery Society</strong>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Join Us</a></li>
            </ul>
        </footer>

    </div>

</section>
