<!-- Footer -->

<footer id="footer">

    <ul class="logo-footer">
      <li><img src="/images/raven.png" alt="MAS Raven Logo" /> Medieval Archery Society</li>
    </ul>

    <ul class="icons">
        {% for social in site.data.links.social.links %}
        <li><a href="{{ social[1]['url'] }}" class="icon circle fa-{{ social[0] }}"><span class="label">{{ social[1]['name'] }}</span></a></li>
        {% endfor %}
    </ul>

    <ul class="copyright">
        <li>&copy; {{ site.time|date: "%Y" }} <a href="{{ site.baseurl }}/contact/">{{ site.title }}</a></li>
    </ul>

</footer>

{% include scripts.html %}
