<!-- Head -->

<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="" />

    <link href="/css/skel.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/css/style-wide.css" type="text/css" rel="stylesheet" />
    <link href="/css/style-noscript.css" type="text/css" rel="stylesheet" />
    {% if page.title contains 'Gallery' %}<link href="/css/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />{% endif %}

    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->

    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
